/*CORE PAGE STYLING*/
        *{
            box-sizing: border-box;
        }

        body{
            margin: 0;
            padding: 0;
            font-family: Roboto, sans-serif;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        h1{
            font-weight: normal;
            color: #419388;
        }

        h4{
            margin: .3em;
        }

        .page-link{
            color: black;
            text-decoration: none;
        }

        .footer{
            background-color: #666666;
            color: white;
            margin: 0;
            padding: 1.5em 1.5em 1.5em 1em;
            /*justify-content: center;*/
        }

        .powered{
            background-color: #333333;
            color: white;
            margin: 0;
            padding: .5em .5em .5em 1em;
        }

        .footer p, .powered p{
            margin: 0;
        }

        #w3-link, .powered p{
            font-size: 10px;
            color: white;
        }

/*GRID STYLING*/

        .wrapper {
            width: 100vw;
            height: 100vh;
            display: grid;
            grid-template-columns: 1fr 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
            grid-column-gap: 0;
            grid-row-gap: 0;
        }

        .nav { grid-area: 1 / 1 / 2 / 5; }
        .menu { grid-area: 2 / 1 / 9 / 2; }
        .heading-one { grid-area: 2 / 2 / 3 / 4; }
        .ad-one { grid-area: 2 / 4 / 3 / 5; }
        .heading-two { grid-area: 3 / 2 / 4 / 4; }
        .ad-two { grid-area: 3 / 4 / 4 / 5; }
        .heading-three { grid-area: 4 / 2 / 5 / 4; }
        .ad-three { grid-area: 4 / 4 / 5 / 5; }
        .main-footer { grid-area: 5 / 2 / 8 / 5; }
        /*.footer { grid-area: 6 / 2 / 7 / 5; }*/
        /*.powered { grid-area: 7 / 2 / 8 / 5; }*/

        .main{
        }

        .main-footer{
            display: grid;
        }
        /*#nav-content{*/
        /*    display: flex;*/
        /*    align-items: flex-start;*/
        /*}*/

        .ad-wrapper{
            margin: 1em;
        }

        /*#page-num{*/
        /*    display: flex;*/
        /*    align-items: center;*/
        /*    justify-content: center;*/
        /*    margin-top: 5em;*/
        /*    margin-bottom: 2em;*/
        /*}*/


/*NAV STYLING*/
        nav ul li{
            margin: 0;
            display: inline;
        }

        nav{
            padding: .5em 0;
            background-color: black;
            color: white;
        }

        .nav-content{
        }

        .nav-item{
        }

        .nav-link{
            font-size: 12px;
            text-decoration: none;
            color: white;
        }

        span{
            padding: 8px;
        }

        nav ul li a:hover{
            background-color: white;
            text-decoration: none;
            color: black;
        }

        #logo span{
            margin: 0;
            padding: .7em;
            background-color: #333;
            text-decoration: none;
            color: white;
        }

  span:hover{
            margin: 0;
            background-color: lightgray;
            text-decoration: none;
            color: white;
            padding: .5em;
        }

        /*#hamburger{*/
        /*    float: right;*/
        /*    justify-content: flex-start;*/
        /*}*/

        #hamburger span{
            color: white;
            margin-top: 0;
            background-color: #333;
            padding: .5em;
        }

        #hamburger span:hover {
            color: black;
            margin-top: 0;
            background-color: white;
            padding: .5em;
        }

/*MENU STYLING*/
        #menu-nav{
            background-color: #f0f0f0;
        }

        .menu-link{
            color: black;
            text-decoration: none;
        }

/*HEADER CONTENT*/
        .heading-one, .heading-two, .heading-three{
            margin: 0 1em;
            padding-top: 2em;
        }

/*AD STYLING*/
        .ad-top, .ad-bottom{
            border: 2px solid #f1f1f1;
        }

        .ad-top, .ad-bottom{
            text-align: center;
        }

        .ad-top{
            margin-top: 2em;
            padding: 1.5em;
        }

        .ad-bottom{
            padding: 5em;
        }

        .ad-link{

        }

/*FOOTER STYLING*/

        .main-footer{

        }

        .page-link{
            margin: 1em;
        }


        .powered{

        }