/*CORE PAGE STYLING*/
        *{
            box-sizing: border-box;
        }

        body{
            margin: 0;
            padding: 0;
            font-family: Roboto, sans-serif;
        }

        ul{
            list-style: none;
            margin: 0;
            padding: 0;
        }

        h1{
            font-weight: normal;
            color: #419388;
        }

        h4{
            margin: .3em;
        }

/*NAV STYLING*/
        nav{
            width: 100%;
            padding: .5em 0;
            background-color: black;
            color: white;
        }

        nav ul li{
            margin: 0;
            display: inline;
        }


        .nav ul li a{
            font-size: 12px;
            text-decoration: none;
            color: white;
        }

        span{
            padding: 8px;
        }

        nav ul li a:hover{
            background-color: white;
            text-decoration: none;
            color: black;
        }

        #logo span{
            margin: 0;
            padding: .7em;
            background-color: #333;
            text-decoration: none;
            color: white;
        }

        span:hover{
            margin: 0;
            background-color: lightgray;
            text-decoration: none;
            color: white;
            padding: .5em;
        }

        #hamburger{
            float: right;
            justify-content: flex-start;
        }

        #hamburger span{
            color: white;
            margin-top: 0;
            background-color: #333;
            padding: .5em;
        }

        #hamburger span:hover {
            color: black;
            margin-top: 0;
            background-color: white;
            padding: .5em;
        }

/*MENU STYLING*/
        .menu{
            background-color: #f0f0f0;
        }

        .menu ul li a{
            color: black;
            text-decoration: none;
        }

/*HEADER CONTENT*/
        .heading-one, .heading-two, .heading-three{
            margin: 0 .5em;
            padding-top: .5em;
        }

/*AD STYLING*/
        .ad-top, .ad-bottom{
            border: 2px solid #f1f1f1;
        }

        .ad-top, .ad-bottom{
            text-align: center;
        }

        .ad-top{
            margin-top: 2em;
            padding: 1.5em;
        }

        .ad-bottom{
            padding: 5em;
        }

        .ad-link{

        }

/*FOOTER STYLING*/
        footer ul li a{
            color: black;
            text-decoration: none;
        }

        footer p:nth-of-type(1){
            background-color: #666666;
            color: white;
            margin: 0;
            padding: 1.5em 1.5em 1.5em 1em;
            justify-content: center;
        }

        footer p:nth-of-type(2){
            background-color: #333333;
            color: white;
            margin: 0;
            padding: .5em .5em .5em 1em;
        }

        footer p{
            margin: 0;
        }

        #w3-link, footer p:nth-of-type(2) {
            font-size: 10px;
            color: white;
        }

/*MEDIA QUERIES*/
        @media all and (max-width: 500px) {
            .hidden-on-mobile{
                display: none;
            }
        }