
        /* anchor tag psuedo selector*/
a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: aqua;

}

        /* header style */
.fancy-header, section h2 {
    text-shadow: 1px 1px 2px gray;
    color: darkcyan;
    text-decoration: underline;
}

#main-header, p {
    text-align: center;
}



        /* Body and list styling */
body {
    font-family: monospace;
    background-color: azure;
    background-image: url("https://cdn.pixabay.com/photo/2016/11/28/21/36/white-1866105_960_720.jpg");
    background-size: 1000px;
}

h2{
    text-align: center;
}

ul, ul>li {
    text-align: center;
    list-style: square;
    list-style: inside;
    margin: 0;
    padding: 0;
}

ol, ol>li {
    text-align: center;
    list-style-position: inside;
    margin: 0;
    padding: 0;
}


        /* Image Positioning */
aside {
   text-align: center;
}

img {
    border-radius: 8px;
    display: inline-block;
    margin-left: auto;
    margin-right: auto;
}



        /* table styling */
#header-center {
    text-align: center;
    border-style: solid;
    border-color: cadetblue;
    width: 20%;
    margin-left: auto;
    margin-right: auto;

}

table {
    border-style: outset groove;
    border-color: cadetblue;
    background-color: darkcyan;
    margin-left: auto;
    margin-right: auto;
}

tr {
    background-color: white;
    color: #2f4f5f;
    text-align: center;
}

#table-header {
    background-color: coral;
    color: white;
}

