
        /* anchor tag psuedo selector*/
a:link {
    color: blue;
}

a:visited {
    color: red;
}

a:hover {
    color: green;
}

a:active {
    color: aqua;

}

        /* header style */
.fancy-header {
    color: purple;
    text-decoration: underline;
}

#main-header {
    text-align: center;

}

        /* h2 styling */
section h2 {
    color: darkcyan;
    text-decoration: underline;
}


        /* Body and list styling */
body {
    font-family: monospace;
    background-color: azure;
    background-image: url("https://previews.123rf.com/images/alicjane/alicjane1802/alicjane180200128/95333485-creased-background-of-white-paper-texture.jpg");
    background-size: 1000px;
}

ul {
    list-style: square;
}


        /* table styling */
table {
    padding: 10px;
    background-color: darkcyan;
}

tr {
    background-color: white;
    color: #2f4f5f;
    text-align: center;
}

#table-header {
    background-color: coral;
    color: white;
}

